body {
    background-color: #ececec;
}

body.modal-open {
    margin-right: 0px
}

.modal-open {
    overflow: hidden;
}

header {
    padding-right: 0px !important;
}

.fa-sync-alt {
    color: white;
}